sphinx-rtd-theme==0.2.4
backports-abc==0.5
click==6.7
configparser==3.5.0
flake8==3.3.0
future==0.16.0
Keras>=2.0.0
matplotlib==2.0.2
mock==2.0.0
numpy==1.13.1
pandas==0.20.2
pandocfilters==1.4.1
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.2.1
Pillow==4.2.0
protobuf==3.3.0
Pygments==2.2.0
python-dateutil==2.6.0
PyYAML==3.12
pyzmq==16.0.2
scipy==0.19.1
seaborn==0.7.1
Sphinx==1.6.3
stevedore==1.23.0
tensorflow # pyup: ignore 
tornado==4.5.1
h5py==2.7.0
recommonmark==0.4.0
pytest-flake8==0.8.1
